<!-- profesor-vista.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesor"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Listado Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <!-- Cabecera de la tabla -->
    <ion-row>
      <ion-col>Nombre</ion-col>
      <ion-col>Email</ion-col>
      <!-- Agrega más columnas según la información que desees mostrar -->
    </ion-row>

    <!-- Cuerpo de la tabla -->
    <ion-row *ngFor="let usuarioAlumno of usuariosAlumnos">
      <ion-col>{{ usuarioAlumno.name }}</ion-col>
      <ion-col>{{ usuarioAlumno.email }}</ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
